<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ .Person.Name }}'s CV</title>
    <meta name="author" content="{{ .Person.Name }}" />
    <meta name="description" content="{{ .Person.Name }}'s CV" />

    <link href="css/style.css" rel="stylesheet" />

    <link
      href="https://fonts.googleapis.com/css?family=Lusitana:400,700"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Archivo+Black"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300"
      rel="stylesheet"
      type="text/css"
    />

    <script type="text/javascript">
      WebFontConfig = {
        google: { families: ["Passion+One:400,700:latin"] },
      };
      (function () {
        var wf = document.createElement("script");
        wf.src = "https://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js";
        wf.type = "text/javascript";
        wf.async = "true";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(wf, s);
      })();
    </script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script>
      $(window).on("load", function () {
        $("[data-github]").each(function () {
          var _this = this;
          var repo = $(_this).data("github");

          fetch("https://api.github.com/repos/" + repo)
            .then(function (response) {
              return response.json();
            })
            .then(function (response) {
              $(_this).find("[data-forks]").text(response.forks);
              $(_this).find("[data-stars]").text(response.stargazers_count);
            });
        });
        // code here
      });
    </script>
  </head>

  <body>
    <script src="http://localhost:35729/livereload.js"></script>

    <div class="container">
      <div class="header section">
        <div class="section-logo">
          {{ if .Company.Logo }}
          <img
            src="{{ .Company.Logo }}"
            class="img-responsive"
            alt="{{ .Company.Name }}"
          />
          {{ end }}
        </div>

        <div class="section-description personal-info">
          <div class="blue label-1">{{ .Person.Name }}</div>
          <div class="position"><b>{{ .Person.Profession }}</b></div>
        </div>
      </div>

      <!-- Abstract -->
      {{- if .Abstract }}
      <div class="separator">
        <div class="section-title"><hr class="separator-1"/></div>
        <div class="section-description"><hr class="separator-2"/></div>
      </div>

      <div class="section" style="margin-bottom: 20px">
        <div class="section-title title">Abstrait</div>

        <div class="section-description content">
          {{ range .Abstract }}
          <p>{{ . }}</p>
          {{ end }}
        </div>
      </div>
      {{- end }}

      <!-- Career -->
      {{- if .Career }}
      <div class="separator">
        <div class="section-title"><hr class="separator-1"/></div>
        <div class="section-description"><hr class="separator-2"/></div>
      </div>

      <div class="section">
        <div class="section-title title">Dernières expériences</div>

        <div class="section-description">
          {{- $careerLength := len .Career }}
          {{ range $indexCareer, $company := .Career }}
          {{- $missionLength := len $company.Missions }}
          <div class="content">
            {{range $indexMission, $mission := $company.Missions}}
            <div>
              <div class="bloc">
                <div class="position label-2">{{.Position}}</div>
              </div>
              <div class="blue bloc">
                <div class="label-2">{{.Company}}</div>
                <div class="time">{{.Dates}}</div>
              </div>
              <div class="bloc">
                <div>{{.Summary}}</div>
              </div>
              <div class="bloc">
                Technologies:</b> {{ join .Technologies ", "}}
              </div>
              <div class="bloc">
                {{ $length := len .Description }}{{ if gt $length 0 }}
                Description :
                <ul>
                  {{ range .Description }}
                  <li>{{ . }}</li>
                  {{ end }}
                </ul>
                {{ end }}
              </div>

              {{ if or (ne $indexCareer (dec $careerLength))
                  (ne $indexMission (dec $missionLength)) }}
              <div class="section-description blocs-separator">
                <span class="separator-3"></span>
              </div>
              {{ end }}
            </div>

            {{end}}
          </div>

          {{ end }}
        </div>
      </div>
      {{- end }}

      <!-- Education -->
      {{- if .Education }}
      <div class="separator padding-50">
        <div class="section-title"><hr class="separator-1"/></div>
        <div class="section-description"><hr class="separator-2"/></div>
      </div>

      <div class="section" style="padding-top: unset !important">
        <div class="section-title title">Formation</div>
        <div class="section-description">
          {{ $length := len .Education }} {{ range $index, $element :=
          .Education }}
          <div class="content">
            <div class="bloc">
              <div class="blue label-1">{{$element.SchoolName}}</div>
            </div>
            <div class="bloc">
              <div class="position">{{$element.Degree}}</div>
              <div class="time">{{$element.Dates}}</div>
            </div>

            {{ if ne $index (dec $length) }}
            <div class="section-description blocs-separator">
              <span class="separator-2"></span>
            </div>
            {{ end }}
          </div>
          {{ end }}
        </div>
      </div>
      {{- end }}

      <!-- Certifications -->
      {{- if .Certifications }}
      <div class="separator padding-50">
        <div class="section-title"><hr class="separator-1"/></div>
        <div class="section-description"><hr class="separator-2"/></div>
      </div>

      <div class="section" style="padding-top: unset !important">
        <div class="section-title title">Certifications</div>
        <div class="section-description">
          {{ $length := len .Certifications }} {{ range $index, $element :=
          .Certifications }}
          <div class="content">
            <div class="bloc">
              <div class="blue label-1">{{$element.CertificationName}}</div>
            </div>
            <div class="bloc">
              <div class="position">{{$element.CompanyName}}</div>
            </div>
            <div class="bloc">
              <a href="{{$element.Link}}"><div class="position link">{{$element.Link}}</div></a>
              <div class="time">{{$element.Date}}</div>
            </div>

            {{ if ne $index (dec $length) }}
            <div class="section-description blocs-separator">
              <span class="separator-2"></span>
            </div>
            {{ end }}
          </div>
          {{ end }}
        </div>
      </div>
      {{- end }}

      <!-- SideProjects -->
      {{- if .SideProjects }}
      <div class="separator padding-50">
        <div class="section-title"><hr class="separator-1"/></div>
        <div class="section-description"><hr class="separator-2"/></div>
      </div>

      <div class="section" style="padding-top: unset !important">
        <div class="section-title title">Projets personnels</div>
        <div class="section-description">
          {{ $length := len .SideProjects }} {{ range $index, $element :=
          .SideProjects }}
          <div class="content">
            <div class="bloc">
              <div class="blue label-1">{{$element.Name}}</div>
            </div>
            <div class="bloc">
              <div class="position label-2">{{$element.Position}}</div>
            </div>
            <div class="bloc">
              <div class="position link">{{$element.Description}}</div>
              <div class="time">{{$element.Link}}</div>
            </div>
            {{ if ne $index (dec $length) }}
            <div class="section-description blocs-separator">
              <span class="separator-2"></span>
            </div>
            {{ end }}
          </div>
          {{ end }}
        </div>
      </div>
      {{- end }}
    </div>
  </body>
</html>
